#root {
  font-size: 62.5%;
  /* max-width: 1280px; */
  max-width: 1440px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.6rem;
  border: solid;
}

main{
  width: 100%;
  margin: auto;
  border: solid red;
}

section{
  width: 80%;
  border: solid yellow;

}

nav{
  display: flex;
  justify-content: center;
  gap: 5rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li{
  list-style: none;
}

nav button{
  background-color: aliceblue;
}

.switchContainer{
  background-color: violet;
  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border: solid;
  border-radius: 1rem;

  .switch{
    background-color: red;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
  }

  #toggleSwitch{
    display: none;
  }

  #toggleSwitch:checked + .switch{
    background-color: blue;
    transform: translate(1.5rem);
  }
}

