:root {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  max-width: 1920px;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

#root{
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.6rem;
}

main{
  width: 90%;
  margin: auto;
}

section{
  width: 100%;
  padding: 2rem 0.5rem
}

